DB_HOST=
DB_PORT=3306
DB_NAME=

DB_USER=
DB_PASSWORD=

JWT_SECRET=

AI_SERVER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET_NAME=


envAI_SERVER_URL=
EXTERNAL_PETITION_API_KEY=